.card{
    color:black;
    /* height: 400px; */
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    background-color: #f5f7fa;
}
.Button_container{
    padding: 0px;
    display: flex;
    gap:10px;
    position: relative;
    left:0;
    flex-direction: row-reverse;
}
.product_container{
    display: flex;
    gap:20px;
    padding:0px 10px;
    /* width: 80%; */
    overflow:hidden;
    scroll-behavior: smooth;;
    /* position:relative; */
    /* right:0; */
    margin-left:25%

}
.carousel{
    position:relative;
    overflow: hidden;
    padding: 26px;
    display: flex;
    flex-direction: row;
}
.line{
    color:red;
    background-color:red;
    width:30%;
    padding:2px;
    margin-top: 10px;
    margin-left: 10%;
}
